.parent{
    position: relative;
    margin: 20px;
}

.item_over{
    position: absolute;
    top:0;
    width:200px ;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8379726890756303) 0%, rgba(0,0,0,0.5746673669467788) 55%, rgba(0,255,244,0) 100%);
}

.parent > img{
    width:200px;
    height: 300px;
    object-fit: cover;
    object-position:initial;
}


.item_over > p{
    margin-top: 10px;
    text-align: center;
    overflow-wrap: break-word;
    color: rgb(255, 255, 255);
}

.item_over_button{
    position: absolute;
    top:80%;
    width:200px ;
    text-align: center;
}